:root {
  --bg-color: #050505;
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
  --accent-color: #a855f7; /* Έντονο Μωβ */
  --accent-hover: #9333ea; /* Πιο σκούρο Μωβ για όταν πατάς κουμπιά */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  line-height: 1.5;
}